<div class="intro">
<div class="intro-body">
<h1>Create New Match</h1>
<%= form_for(:matches) do |f| %>
    <%= f.label :name %><br>
    <font color= "black"><%= f.text_field :match_name %></font><br>
    <br>
    <%= f.label :opponent %><br>
    <%= f.collection_select :member, @current_group.users.all , :id, :name, prompt: "Please Select", multiple: true %>
    <br><br>
    <%= f.hidden_field :group_id, :value => @current_group.id %>
    <%= f.submit  "Create Match", class: "btn btn-primary" %>
  <% end %>
  </div>
  </div>
