<%= link_to "Home", root_path %><br>
Welcome <%= @user_name %>! <br>
<h1>Group Profile</h1>  <br>
<h3> Your Admin Group </h3><br>
<% @all_groups.each do |group| %>
	<h4><%= group.group_name %></h4>
	<h5> Name of group members: <%= Group.all.find_by(id: 1).users.find_by(name: current_user.name).name %></h5><br>
<% end %>
<br>
<br>
<h3> Group Your In </h3>

<br>
<br>
<br>




<%= link_to "Create Group", new_group_path %><br>



